/*LATEST EVENT - SECTION*/
#block-latest-event{
    background:#0097a71a;
}
#challenge-event {
    display:flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    flex-wrap: wrap;
    height:540px;
    @include mq(medium){
        height:auto;
        margin:50px auto;
    }
    .img-left {
        flex-shrink: 0;
        @include mq (medium) {
            flex: 1;
          }
          @include mq (small) {
            flex: auto;
          }
      
    }
    .content-right {
        flex:1;
        display: flex;
    flex-direction: column;
    justify-content: center;
    }
}