/*HEADER*/
header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.25);
    mix-blend-mode: normal;
    z-index: 1000;
    .region-header {
        width: calc(100% - 390px);
        margin:auto;
        height: 100px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        @include mq (medium){
            width: calc(100% - 150px); 
        } 
        @include mq (small){
                width: 100%;
                margin: auto;
                justify-content: center;
                flex-direction: column;
                height: 125px;
            }  
    }
    // LEFT - BRANDING
    #block-adchallenge-branding {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        @include mq (medium){
            img {
                width:85%;
            }
        }
        @include mq (small){
            gap:8px;
            img {
                width:70%;
            }
        }
        .site-slogan {
            font-weight: 100;
            font-size: 32px;
            line-height: 75px;
            text-transform: capitalize;
            color: color(white);
            @include mq (small) {
                line-height: 60px;
            }
                }
        .site-logo{
            flex-shrink: 0;
        }
    }
    ul {
        margin-left: 0!important;
    }
    //RIGHT - NAVBAR
    nav {
    .menu {
            text-decoration: none;
            display: flex;
            gap: 42px;
            margin-left: 0;
            @include mq (medium){
                gap: 35px;
            }
            @include mq (small){
                inset:0 0 0 30%;
                }  
                
            li {
                text-decoration: none;
                position: relative;
                // transition: all .3s ease-in-out;
                &.active:after{
                    content: '';
                    position: absolute;
                    top: calc(100% + 6px);
                    left: 0;
                    height: 2px;
                    width: 100%;
                    border-radius: 3px;
                    background: color(blue);
                    
                }
                .region-footer & a {
                    text-transform:unset;
                    color:color(medium-gray);
                }
                a {
                    position: relative;
                    color:color(white);
                    text-decoration: none;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16px;
                    text-transform: uppercase;
                }
            }
        }
    }
}