/*SPREMENLJIVKE*/
.red {
  color: #FF5252;
}

.blue {
  color: #0097A7;
}

.dark-blue {
  color: #161E21;
}

.white {
  color: #ffffff;
}

.black {
  color: #101010;
}

.light-gray {
  color: #D4D4D4;
}

.medium-gray {
  color: #949494;
}

/*GLOBAL*/
html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
}

.visually-hidden {
  display: none;
}

body {
  font-family: 'Roboto';
}

img {
  width: 100%;
  height: auto;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #D4D4D4;
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-style: normal;
  font-weight: 100;
  font-size: 64px;
  line-height: 75px;
  text-transform: capitalize;
  color: #FFFFFF;
}

@media (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}

h2 {
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 65px;
}

h2:after {
  content: '';
  position: absolute;
  top: calc(100% + 25px);
  left: 0;
  height: 2px;
  width: 100px;
  border-radius: 3px;
  background: #0097A7;
}

h2 > a {
  text-decoration: none;
  color: #ffffff;
}

.layout-container {
  background-color: #101010;
}

main .container {
  width: calc(100% - 390px);
  margin: 0 auto;
}

@media (max-width: 1200px) {
  main .container {
    width: 80%;
  }
}

.region-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
}

@media (max-width: 768px) {
  .region-content {
    gap: 80px;
  }
}

/*HEADER*/
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  z-index: 1000;
}

header .region-header {
  width: calc(100% - 390px);
  margin: auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1200px) {
  header .region-header {
    width: calc(100% - 150px);
  }
}

@media (max-width: 768px) {
  header .region-header {
    width: 100%;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 125px;
  }
}

header #block-adchallenge-branding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}

@media (max-width: 1200px) {
  header #block-adchallenge-branding img {
    width: 85%;
  }
}

@media (max-width: 768px) {
  header #block-adchallenge-branding {
    gap: 8px;
  }
  header #block-adchallenge-branding img {
    width: 70%;
  }
}

header #block-adchallenge-branding .site-slogan {
  font-weight: 100;
  font-size: 32px;
  line-height: 75px;
  text-transform: capitalize;
  color: #ffffff;
}

@media (max-width: 768px) {
  header #block-adchallenge-branding .site-slogan {
    line-height: 60px;
  }
}

header #block-adchallenge-branding .site-logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

header ul {
  margin-left: 0 !important;
}

header nav .menu {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  margin-left: 0;
}

@media (max-width: 1200px) {
  header nav .menu {
    gap: 35px;
  }
}

@media (max-width: 768px) {
  header nav .menu {
    inset: 0 0 0 30%;
  }
}

header nav .menu li {
  text-decoration: none;
  position: relative;
}

header nav .menu li.active:after {
  content: '';
  position: absolute;
  top: calc(100% + 7px);
  left: 0;
  height: 3px;
  width: 100%;
  border-radius: 3px;
  background: #0097A7;
}

.region-footer header nav .menu li a {
  text-transform: unset;
  color: #949494;
}

header nav .menu li a {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

#block-top-content-header {
  height: 700px;
  background-size: cover;
  background-position: left;
  width: 100%;
  background-position-y: inherit !important;
}

#challenge-home {
  background: rgba(0, 0, 0, 0.25);
  mix-blend-mode: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

#challenge-home h1 {
  margin-top: 55px;
}

#challenge-home h1 strong {
  font-weight: 500;
}

#challenge-home h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  text-transform: capitalize;
  margin: 0;
}

#challenge-home h2:after {
  content: '';
  position: absolute;
  top: calc(100% + 32px);
  left: 0;
  height: 1px;
  width: 100%;
  border-radius: 3px;
  background: #ffffff;
  opacity: 0.4;
}

#challenge-home .field > a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem 2.5rem;
  background: red;
  border-radius: 5px;
  text-transform: uppercase;
}

/* NEWS - SECTION*/
#block-adchallenge-content {
  width: calc(100% - 390px);
  margin: auto;
}

@media (max-width: 1200px) {
  #block-adchallenge-content {
    width: 80%;
  }
}

.view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-content .views-row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 250px;
}

.view-content article > h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.view-content article > h2:after {
  display: none;
}

.view-content .node__links {
  margin-top: 32px;
}

.view-content .node-readmore {
  padding: 0;
  color: white;
}

.view-content .node-readmore > a {
  margin-top: 32px;
  position: relative;
}

.view-content .node-readmore a:after {
  content: ' ';
  position: absolute;
  right: -18px;
  bottom: 5px;
  border: 7px solid #FF5252;
  border-bottom: 0;
  border-radius: 2vh;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.view-content .node-readmore a:hover::after {
  position: absolute;
  right: -18px;
  bottom: 5px;
  border: 7px solid #0097A7;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.view-content .createdDate {
  margin-bottom: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #949494;
}

/*LATEST EVENT - SECTION*/
#block-latest-event {
  background: #161E21;
}

#challenge-event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 540px;
}

@media (max-width: 1200px) {
  #challenge-event {
    height: auto;
    margin: 50px auto;
  }
}

#challenge-event .img-left {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (max-width: 1200px) {
  #challenge-event .img-left {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 768px) {
  #challenge-event .img-left {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

#challenge-event .content-right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* NEWS - SECTION*/
#block-adchallenge-content {
  width: calc(100% - 390px);
  margin: auto;
}

@media (max-width: 1200px) {
  #block-adchallenge-content {
    width: 80%;
  }
}

.view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.view-content .views-row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 250px;
}

.view-content article > h2 {
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 3px;
}

.view-content article > h2:after {
  display: none;
}

.view-content .node__links {
  margin-top: 32px;
}

.view-content .node-readmore {
  padding: 0;
  color: white;
}

.view-content .node-readmore > a {
  margin-top: 32px;
  position: relative;
}

.view-content .node-readmore a:after {
  content: ' ';
  position: absolute;
  right: -18px;
  bottom: 5px;
  border: 7px solid #FF5252;
  border-bottom: 0;
  border-radius: 2vh;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.view-content .node-readmore a:hover::after {
  position: absolute;
  right: -18px;
  bottom: 5px;
  border: 7px solid #0097A7;
  border-bottom: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.view-content .createdDate {
  margin-bottom: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #949494;
}

/*ABOUT ME SECTION */
#challenge-about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

@media (max-width: 1200px) {
  #challenge-about-me {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.content-left {
  margin-top: 165px;
  width: 420px;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media (max-width: 1200px) {
  .content-left {
    margin-top: 0;
    height: auto;
    width: auto;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  margin-top: 0;
}

.img-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 165px;
  margin-bottom: 180px;
}

.img-right .field {
  position: relative;
  height: 480px;
  width: 525px;
  z-index: 1;
}

@media (max-width: 768px) {
  .img-right .field {
    height: auto;
    width: auto;
  }
}

@media (max-width: 1200px) {
  .img-right .field {
    height: auto;
    width: auto;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

.img-right .field:after {
  display: block;
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 150px;
  height: 150px;
  background: #1D1524;
  z-index: -1;
  -webkit-transform: translate(50%, 50%) rotate(45deg);
          transform: translate(50%, 50%) rotate(45deg);
}

.img-right .field:before {
  display: block;
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 330px;
  height: 330px;
  background: #0F2123;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.img-right .image-style-about-me {
  -o-object-fit: none;
     object-fit: none;
}

/*FOOTER*/
.region-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.region-footer nav {
  padding: 16px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0F2123;
  height: 70px;
}

@media (max-width: 768px) {
  .region-footer nav {
    height: auto;
  }
}

.region-footer div {
  color: white;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1E2C2E;
  height: 50px;
}

.region-footer div p {
  margin: 0;
}

.region-footer .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  color: #949494;
}

@media (max-width: 768px) {
  .region-footer .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.region-footer .menu a {
  color: #949494;
}

.region-footer #block-footercreated p {
  color: #949494;
  font-size: 12px;
}

.region-footer #block-footercreated p > a {
  color: #949494;
  text-decoration: underline;
}
/*# sourceMappingURL=style.css.map */