/*FOOTER*/
.region-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    // UPPER ROW
    nav {
        padding:16px 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0F2123;
        height:70px;
        @include mq(small){
            height:auto;
        }
    }
    // BOTTOM ROW
    & div {
        color:white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1E2C2E;
        height:50px;
        
        p{
            margin:0;
        }
    }
    // BOTTOM R. - MENU
    .menu {
        display: flex;
        gap: 30px;
        color: #949494;
        @include mq (small) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin: 0;
        }
        a {
            color: #949494;
        }
    }
    #block-footercreated p {
        color:color(medium-gray);
        font-size: 12px;
        & > a {
            color:color(medium-gray);
            text-decoration:underline;
        }
    }
}