@import "reset";
@import "vars";
/*GLOBAL*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto';
}
p {
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 30px;
color:#D4D4D4;
margin:20px 0;
}
a {
    text-decoration: none;
    color:white;
}
h1 {
    font-style: normal;
    font-weight: 100;
    font-size: 64px;
    line-height: 75px;
    text-transform: capitalize;
    color: #FFFFFF;
    @include mq (small) {
        font-size: 46px;
    }
}
h2 {
    position: relative;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 65px;
    &:after {
        content: '';
        position: absolute;
        top: calc(100% + 25px);
        left: 0;
        height: 2px;
        width: 100px;
        border-radius: 3px;
        background: color(blue);
        
    }
    & > a{
        text-decoration: none;
        color:color(white);
    }
}
// LAYOUT SETTINGS

.layout-container {
    background-color: color(black);
}
main {
    overflow-x: hidden;
& .container{
    width: calc(100% - 390px);
    margin:0 auto;
        @include mq (medium){
            width:80%;
        }
    }
}

.region-content {
    display: flex;
    flex-direction: column;
}

@import "header";
@import "topcontent";
@import "news";
@import "event";
@import "news";
@import "about";
@import "footer";